tmpfix/OS/wsdl/OSdL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:os="http://www.optimizationservices.org" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.optimizationservices.org">
	<!--OSdL.wsdl: version - 1.0.0 -->
	<message name="findRequest">
		<part name="osql" type="xsd:string"/>
		<part name="osol" type="xsd:string"/>
	</message>
	<message name="findResponse">
		<part name="osul" type="xsd:string"/>
	</message>
	<message name="registerRequest">
		<part name="osel" type="xsd:string"/>
		<part name="osol" type="xsd:string"/>
	</message>
	<message name="registerResponse">
		<part name="ospl" type="xsd:string"/>
	</message>
	<message name="validateRequest">
		<part name="osxl" type="xsd:string"/>
		<part name="osol" type="xsd:string"/>
	</message>
	<message name="validateResponse">
		<part name="ospl" type="xsd:string"/>
	</message>
	<message name="knockRequest">
		<part name="osplInput" type="xsd:string"/>
		<part name="osol" type="xsd:string"/>
	</message>
	<message name="knockResponse">
		<part name="osplOutput" type="xsd:string"/>
	</message>
	<portType name="OSRegistryService">
		<operation name="find" parameterOrder="osql, osol">
			<input name="findRequest" message="os:findRequest"/>
			<output name="findResponse" message="os:findResponse"/>
		</operation>
		<operation name="register" parameterOrder="osel, osol">
			<input name="registerRequest" message="os:registerRequest"/>
			<output name="registerResponse" message="os:registerResponse"/>
		</operation>
		<operation name="validate" parameterOrder="osxl, osol">
			<input name="validateRequest" message="os:validateRequest"/>
			<output name="validateResponse" message="os:validateResponse"/>
		</operation>
		<operation name="knock" parameterOrder="osplInput osol">
			<input name="knockRequest" message="os:knockRequest"/>
			<output name="knockResponse" message="os:knockResponse"/>
		</operation>
	</portType>
	<binding name="OSRegistryServiceSoapBinding" type="os:OSRegistryService">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="find">
			<wsdlsoap:operation soapAction="OSRegistryService#find"/>
			<input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</input>
			<output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</output>
		</operation>
		<operation name="register">
			<wsdlsoap:operation soapAction="OSRegistryService#register"/>
			<input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</input>
			<output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</output>
		</operation>
		<operation name="validate">
			<wsdlsoap:operation soapAction="OSRegistryService#validate"/>
			<input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</input>
			<output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</output>
		</operation>
		<operation name="knock">
			<wsdlsoap:operation soapAction="OSRegistryService#knock"/>
			<input>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</input>
			<output>
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.optimizationservices.org"/>
			</output>
		</operation>
	</binding>
	<service name="OSRegistryService">
		<port name="OSRegistryService" binding="os:OSRegistryServiceSoapBinding">
			<wsdlsoap:address location="http://www.optimizationservices.org/os/SampleOSRegistryService.jws"/>
		</port>
	</service>
</wsdl:definitions>
